:root {
  --color-dark: rgb(223, 210, 173);
  --color-light: rgb(238, 236, 204);
  --color-black: rgb(65, 64, 54);

  --primary-gryffindor: rgb(170, 73, 73);
  --crest-gryffindor: "images/Gryffindor.jpg";
  --primary-slytherin: rgb(83, 156, 83);
  --primary-hufflepuff: rgb(180, 178, 72);
  --primary-ravenclaw: rgb(102, 112, 209);

  --text-font: "Playfair Display", serif;
  --display-font: "Italianno", cursive;
}

* {
  margin: 0;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-family: var(--display-font);
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--display-font);
}
h3 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--display-font);
}

p,
label,
input {
  font-family: var(--text-font);
}

#searchBar {
  width: 100%;
  text-align: center;
}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#filters div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

#tableInfo {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color-black);
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
th {
  padding: 8px;
  background-color: rgb(223, 210, 173);
}

tr:nth-child(odd) {
  background-color: var(--color-light);
}

th,
td {
  text-align: left;
  border: 1px solid var(--color-black);
  font-family: var(--text-font);
}

.sortOption:hover {
  text-decoration: underline;
  cursor: pointer;
}

td {
  padding: 2px;
}

.studentItem {
  animation: introKF 0.3s ease-in-out;
}

.studentItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.studentItem .pictureFrame {
  width: 80px;
}

.studentItem .picture {
  width: 100%;
}

.studentItem .inquisitor,
.studentItem .prefect {
  font-size: 2rem;
}

#singleView {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

#singleContent {
  position: relative;
  top: 10vh;
  margin: auto;
  padding: 5px;
  width: 30vw;
  min-width: 300px;
  height: 70vh;
  background-color: var(--color-light);
  border: 2px solid var(--color-black);
}

#singleContent #headerContent {
  width: 98%;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid var(--color-black);
}

#singleClose {
  padding: 2px;
  padding-left: 10px;
  transition: 0.1s ease;
  position: absolute;
  left: 0px;
}

#singleClose:hover {
  cursor: pointer;
  transform-origin: 50% 50%;
  transform: scale(1.05);
}

#singleContent input {
  width: 12vw;
  padding: 5px;
  margin: 5px;
  font-size: 1rem;
  /*background-color: var(--color-dark); */
  transition: 0.2s linear;
}

#singleContent input:hover {
  cursor: pointer;
  background-color: var(--color-light);
}

#singleContent .error {
  height: 30px;
  text-align: center;
  padding-bottom: 10px;
}

#singleContent .bottomContent {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#singleContent .bottomContent div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#singleContent .bottomContent p {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: var(--display-font);
}

#singleStudentImage {
  width: 120px;
}

#houseCrest {
  width: 80px;
}

#singleContent[data-house="Gryffindor"] input {
  background-color: var(--primary-gryffindor);
}
#singleContent[data-house="Slytherin"] input {
  background-color: var(--primary-slytherin);
}
#singleContent[data-house="Hufflepuff"] input {
  background-color: var(--primary-hufflepuff);
}
#singleContent[data-house="Ravenclaw"] input {
  background-color: var(--primary-ravenclaw);
}

#singleContent[data-house="Gryffindor"] #headerContent {
  background-color: var(--primary-gryffindor);
}
#singleContent[data-house="Slytherin"] #headerContent {
  background-color: var(--primary-slytherin);
}
#singleContent[data-house="Hufflepuff"] #headerContent {
  background-color: var(--primary-hufflepuff);
}
#singleContent[data-house="Ravenclaw"] #headerContent {
  background-color: var(--primary-ravenclaw);
}

.minimize {
  animation: minimizeKF 0.3s ease-in-out;
}

.shake {
  animation: shakeKF 0.3s ease-in-out;
}

@keyframes minimizeKF {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes introKF {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes shakeKF {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
