:root {
  --primary-gryffindor: red;
  --primary-slytherin: green;
  --primary-hufflepuff: yellow;
  --primary-ravenclaw: blue;
}

* {
  margin: 0;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

#searchBar {
  width: 100%;
  text-align: center;
}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

#filters div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#filters div p {
  font-weight: 700;
}

#tableInfo {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
th {
  padding: 8px;
}

tr:nth-child(odd) {
  background: beige;
}

th,
td {
  text-align: left;
  border: 1px solid black;
}

.sortOption:hover {
  text-decoration: underline;
  cursor: pointer;
}

td {
  padding: 2px;
}

.studentItem {
  animation: introKF 0.3s ease-in-out;
}

.studentItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.studentItem .pictureFrame {
  width: 80px;
}

.studentItem .picture {
  width: 100%;
}

#singleView {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#singleContent {
  position: relative;
  z-index: 1;
  margin: auto;
  width: 50vw;
  height: 50vh;
  background-color: white;
  border: 1px solid black;
}

#singleContent[data-house="Gryffindor"] {
  background-color: var(--primary-gryffindor);
}
#singleContent[data-house="Slytherin"] {
  background-color: var(--primary-slytherin);
}
#singleContent[data-house="Hufflepuff"] {
  background-color: var(--primary-hufflepuff);
}
#singleContent[data-house="Ravenclaw"] {
  background-color: var(--primary-ravenclaw);
}

#singleContent .picture {
  width: 100px;
}

.minimize {
  animation: minimizeKF 0.3s ease-in-out;
}

@keyframes minimizeKF {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes introKF {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
