* {
  margin: 0;
}

img {
  width: 100%;
}

.studentItem {
  border: 1px dotted black;
}

.studentItem:hover {
  cursor: pointer;
  border: 1px solid black;
}

#singleView {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
#singleContent {
  position: relative;
  width: 50vw;
  height: 50vh;
  background-color: white;
  border: 1px solid black;
}
